<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edujoc_cepsoft">

    <!--
        Hemos pueso hardwareAccelerated para que el juego no tenga que consumir mucha RAM.
        Si el hardwareAccelerated es true todas las operaciones de dibujo que se realiza en el lienzo de una view usan la GPU del dispositivo.

        Exported true si queremos ejecutar una activity en concreto
        android:exported="true".
        Luego debemos de especificar que activity se va a iniciar en la configuración del debug.
    -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IdiomaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
        <activity
            android:name=".IntroduccionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
        <activity
            android:name=".AjustesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
        <activity
            android:name=".CreditosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
        <activity
            android:name=".SelectPersonajeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
        <activity
            android:name=".MapaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
        <activity
            android:name=".BatallaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimacionActivity" />
    </application>
</manifest>